<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787564386412-nvvgqdr7g9o1k6m0u2dnpi3ghf5r19a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787564386412-nvvgqdr7g9o1k6m0u2dnpi3ghf5r19a6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxt7HrifxX0fC-jpLpfH-EY_ngH9BH69Y</string>
	<key>GCM_SENDER_ID</key>
	<string>787564386412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StayFit-Workoutapp-ios.StayFit-Workout-ios</string>
	<key>PROJECT_ID</key>
	<string>stayfit-workoutapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>stayfit-workoutapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787564386412:ios:40a4670a9526280f02a049</string>
</dict>
</plist>